/* responsive style */
html, body {
  height:auto!important;
  min-height:100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    @media only screen and (max-width: 800px) {
      html, body {
        font-size: 10vw;
        height:auto!important;
        min-height:150px
      }
    }

    /* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .lasa, .ingredients, .steps, img {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
    @media only screen and (max-width: 550px) {
      html {
        font-size: 8vw;
        height:auto!important;
        min-height:100vh;
      }
    }
  
    @media only screen and (max-width: 450px) {
      html {
        font-size: 7vw;
        height:auto!important;
        min-height:100vh;
      }
  
    }

    body {
      max-width: 100%;
      height:auto!important;
      min-height:100vh;
        margin: 0;
        color: #fff;
        background: linear-gradient(-45deg, #e2592f, #f3880f, #fcaf58, #a5010f);
        background-size: 400% 400%;
        animation: backgroundGradient 15s ease infinite;
      }
      
      @keyframes backgroundGradient {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 0%;
        }
      }

header {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid white;
    border-radius: 10%;
    max-width: 100%;
    max-height: fit-content;
}

a {
  display: flex;
  text-decoration: none;
  align-self: center;
  font-size: 4vw;
  font-weight: 500;
  border: 3px solid white;
  border-radius: 20%;
  padding: 1%;
  width: fit-content;
  color: white;
  margin-left: auto;
  max-width: 100%;
  max-height: fit-content;
  margin-right: 1%;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: 8vw;
    font-weight: 900;
    border: 3px solid white;
    border-radius: 20%;
    width: fit-content;
    align-content: center;
    margin-left: 18vw;
    max-width: 100%;
    max-height: fit-content;
}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: rgb(240, 11, 11);
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 
.imgBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    align-self: center;
    width:100%;
    max-width: 100%;
    max-height: fit-content;
}

img{
    border-radius: 10%;
    max-width: 100%;
    max-height: fit-content;
    float: left;
}

.lasa {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    font-size: 3vw;
    padding: 6%;
    max-width: 100%;
    max-height: fit-content;
    float: left;
}

.textBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    max-width: 100%;
    max-height: fit-content;
}

.steps {
  float: right;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    padding: 2%;
    font-size: 3vw;
    border-radius: 10%;
    max-width: 100%;
    max-height: fit-content;
    float: left;
}
.ingredients {
  float: right;
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    padding: 2%;
    font-size: 3vw;
    border-radius: 5%;
    max-width: 100%;
    max-height: fit-content;
    float: left;
}

li {
    padding: 1%;
}

footer {
  font-size: 4vw;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    max-width: 100%;
    max-height: fit-content;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
