@tailwind base;
@tailwind components;
@tailwind utilities;

/* responsive style */
html, body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
    @media only screen and (max-width: 800px) {
      html {
        font-size: 10px;
        height: calc(var(--vh, 1vh) * 100)
      }
    }
  
    @media only screen and (max-width: 550px) {
      html {
        font-size: 8px;
        height: calc(var(--vh, 1vh) * 100)
      }
    }
  
    @media only screen and (max-width: 450px) {
      html {
        font-size: 7px;
        height: calc(var(--vh, 1vh) * 100)
      }
  
    }

    body {
        margin: 0;
        max-width: 100%;
        max-height: fit-content;
        color: #fff;
        background: linear-gradient(-45deg, #e2592f, #f3880f, #fcaf58, #a5010f);
        background-size: 400% 400%;
        animation: backgroundGradient 15s ease infinite;
      }
      
      @keyframes backgroundGradient {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 0%;
        }
      }

header {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid white;
    border-radius: 10%;
    max-width: 100%;
    max-height: fit-content;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: xx-large;
    font-weight: 900;
    border: 3px solid white;
    border-radius: 20%;
    width: fit-content;
    align-content: center;
    max-width: 100%;
}

.imgBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    align-self: center;
    max-width: 100%;
    max-height: fit-content;
}

img{
    border-radius: 10%;
    max-width: 100%;
    max-height: fit-content;
}

.lasa {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    font-size: x-large;
    padding: 6%;
    max-width: 100%;
    max-height: fit-content;
}

a {
    text-decoration: none;
    max-width: 100%;
    max-height: fit-content;
}

.lasagna {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 6%;
    max-width: 100%;
    max-height: fit-content;
}

.carbonara {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 6%;
    max-width: 100%;
    max-height: fit-content;
}

.arancini {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 6%;
    max-width: 100%;
    max-height: fit-content;
}


.las {
    display: flex;
    padding: 3%;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
    max-width: 100%;
    max-height: fit-content;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    max-width: 100%;
    max-height: fit-content;
}